@import "./variables"

body
  @include background("../images/webmain_red.jpg", cover, center)
  height: 100vh
  position: relative

  // index styles

  .main--nav
    @include flexbox(center, space-around)

    .nav--link
      font-family: 'Raleway', sans-serif
      color: #fff
      padding-top: 14px
      font-size: 2rem
      text-shadow: -2px 2px 4px #121212
      text-decoration: none

      @media #{$mobile}
        display: flex
        flex-direction: column


    .nav--link:hover
      font-style: italic

    #skellygif
      height: 100px



  #nameTitle
    font-family: 'Roboto Mono', monospace
    font-size: 7rem
    color: #ffffff
    text-shadow: 0px 0px 100px #121212
    position: absolute
    top: 30%
    left: calc(50% - 20px)
    transform: translate(-50%)
    white-space: nowrap

    @media#{$mobile}
      font-size: 500%
      left: 50%
      white-space: normal


  //contact styles
  #contactText
    position: absolute
    top: 25%
    left: 50%
    transform: translate(-50%)

    a
      color: #121212

  //music styles
  .music
    @include center
    width: 100%

    .music--icons
      @include flexbox(center, space-between)
      font-size: 5rem
      max-width: 50rem
      margin: 0 auto

      a
        color: #121212

      .grow
        transition: all .2s ease-in-out


      .grow:hover
        transform: scale(1.5)


  //footer styles

  .footer
    position: absolute
    bottom: 1.1rem
    width: 100%

    .footer--icons
      font-size: 2.5rem
      display: flex
      justify-content: space-between
      max-width: 35rem
      margin: 0 auto

      @media #{$mobile}
        padding: 0 15px

      a
        color: #fff

      a:hover
        color: #121212
